@import "./variables.css";
@import "./animations.css";

* {
	font-family: "Montserrat", sans-serif;
}

.main {
	margin: 0;
	background: linear-gradient(
			217deg,
			rgba(255, 0, 0, 0.8),
			rgba(255, 0, 0, 0) 70.71%
		),
		linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
		linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
	min-height: 100vh;
}

.navbar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 7vh;
	/* background-color: var(--secondary-color); */
	/* box-shadow: 0px 0px 5px var(--text-color); */
}

.navbar > .btn {
	padding: 5px 25px;
	margin-left: 15px;
}

.navbar > .btn-sidebar {
	margin-left: auto;
	margin-right: 15px;
}

.hidden-menu {
	position: absolute;
	width: 249px;
	top: 7vh;
	height: 93vh;
	border-left: 1px solid black;
}

.hidden-menu-show {
	animation: menu-open 0.5s ease forwards;
}

.hidden-menu-hide {
	animation: menu-close 0.5s ease forwards;
}

@keyframes menu-close {
	from {
		right: 0;
	}

	to {
		right: -250px;
	}
}

@keyframes menu-open {
	from {
		right: -250px;
	}

	to {
		right: 0px;
	}
}

.btn {
	height: 80%;
	background-color: var(--secondary-color);
	color: var(--text-color);
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.btn:disabled {
	background-color: grey;
	cursor: default;
}

.card-container {
	height: 93vh;
	display: flex;
	justify-content: center;
}

.profile {
	position: relative;
	background-color: rgb(226, 226, 226);
	width: 30%;
	max-height: 80%;
	margin-top: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

.profile-name-container {
	display: flex;
    width: 100%;
	justify-content: center;
	position: relative;
}
.profile-name-container > .btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.profile > img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.profile > h2 {
	text-transform: uppercase;
	margin-bottom: 0;
}

.skills {
	text-transform: capitalize;
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
}

.profile-info-side {
	padding: 15px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
	border-radius: 100px;
}

.profile-info-side:hover {
	background: rgba(175, 175, 175, 0.5);
}

.profile-img-side {
	height: 82px;
	aspect-ratio: 1;
	border-radius: 100%;
}

.decision-plate {
	position: absolute;
	bottom: 120px;
	width: 30%;
	display: flex;
	justify-content: space-evenly;
}

.decision {
	border: none;
	width: 8rem;
	aspect-ratio: 1;
	border-radius: 50%;
	color: whitesmoke;
	font-size: 24px;
	font-weight: bolder;
}

.decision.reject {
	background-color: red;
}

.decision.accept {
	background-color: green;
}
